/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f7fa;
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #4c6ef5;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.nav-links a:hover {
    color: #4c6ef5;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
}

.hero-text h1 {
    font-size: 48px;
}

.hero-text span {
    color: #4c6ef5;
    font-weight: bold;
}

.hero-text p {
    margin: 10px 0 20px;
    font-size: 18px;
}

.btn {
    text-decoration: none;
    padding: 12px 25px;
    background: #4c6ef5;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background: #3b5bdb;
}

.hero-img img {
    width: 280px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* SKILLS */
.skills {
    text-align: center;
    margin: 50px 0;
}

.skill-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skill-box {
    padding: 15px 30px;
    background: white;
    margin: 10px;
    border-radius: 8px;
    font-weight: 600;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.07);
}

/* PROJECTS */
.projects {
    padding: 50px 10%;
}

.project-card {
    background: white;
    padding: 25px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.project
